APP_NAME=LaravelBoilerplate
APP_URL=http://localhost:8000
APP_KEY=

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=app
DB_USERNAME=app
DB_PASSWORD=app

SESSION_DRIVER=redis
CACHE_STORE=redis
QUEUE_CONNECTION=redis

REDIS_CLIENT=phpredis
REDIS_HOST=redis-state
REDIS_PORT=6379
REDIS_CACHE_HOST=redis-cache
REDIS_CACHE_PORT=6379

HORIZON_DASHBOARD_ENABLED=false

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025

# S3 (RustFS). Драйвер подключим на этапе 5, пока диск local
FILESYSTEM_DISK=local
AWS_ACCESS_KEY_ID=rustfsadmin
AWS_SECRET_ACCESS_KEY=rustfsadmin
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=app
AWS_ENDPOINT=http://rustfs:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

OCTANE_SERVER=frankenphp
